<%=stylesheet_link_tag 'headernav.css'%>
<div class="headernav">
  <%= link_to 'home', {:controller => 'welcome', :action => 'welcome'} %>
  <%= link_to 'newsfeed',{:controller => 'posts', :action => 'index'} %>
  <%= link_to 'Account Details', {:controller => 'users', :action => 'edit', :id => session[:user_id] || '#id'}%>
  <%= link_to 'Profile', {:controller => 'users', :action => 'show', :id => session[:user_id] || '#id'}%>
  <%= link_to 'Logout', {:controller => 'sessions', :action => 'destroy'} %>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>




<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
