<%=stylesheet_link_tag 'headernav.css'%>


<%=stylesheet_link_tag 'headernav.css'%>

<div class="headernav">
  <%= link_to 'home', {:controller => 'welcome', :action => 'welcome'} %>
  <%= link_to 'newsfeed',{:controller => 'posts', :action => 'index'} %>
  <%= link_to 'Account Details', {:controller => 'users', :action => 'edit', :id => session[:user_id] || '#id'}%>
  <%= link_to 'Profile', {:controller => 'users', :action => 'show', :id => session[:user_id] || '#id'}%>
  <%= link_to 'Logout', {:controller => 'sessions', :action => 'destroy'} %>
</div>


<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', posts_path %>
