<!DOCTYPE html>
<html>

<head> 

	<%= stylesheet_link_tag 'application.css' %>
	
</head>
<body>

<h1> hello </h1>
<div class='reg-form'>
<h1> Register </h1>
<%= form_for User.new, url: {controller: "users" ,action: "create"}, html: {class: "registration_form"} do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %>
	<%= f.label :email %>
  	<%= f.text_field :email %>
  	<%= f.label :password %>
    <%= f.text_field :password %>
 	<%= f.submit "Create" %>
<% end %> 
</div>



</body>

</html>

