<!DOCTYPE html>
<html>
  <head>
    <title>Show Comments</title>
    <%=stylesheet_link_tag 'show_comments.css'%>
	
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
  </head>
  <body>

        <div class="header"
          <p id="notice"><%= notice %></p>
          <p>
            <strong>Logged in As: KAPPA</strong>
            <%= @user.username %>
          </p>
      <div class ="post_comment_display">
          <div class="post_title">
          <h3>Title:<br> <%=@post.title %> </h3>
        </div>
          
          <div class="post_content">
          <p>
            <strong>Content:</strong> <br>
            <%= @post.content %>
          </p>
        </div>
        <div class="comment_display">
          <h2> Comments: </h2>
            <% @comments.each do |comment| %>
            
              <ul>
                <li><p> User: <%= comment.user.username unless comment.user.nil? %></p><p><%= comment.body %><p></li>
                
              </ul>
            <%end%>
          </div>
        </div>
            <%= link_to 'Edit', edit_post_path(@post) %> |
            <%= link_to 'Back', posts_path %>
        </div>
          <div class="comment_box">
          <h1> Leave a comment </h1>
          <%= form_for Comment.new, url: {controller: "comments" ,action: "create"}, html: {class: "comment_form"} do |f| %>
            <%= f.text_area :body, size: "60x12" %>
            <%= f.hidden_field :post_id, :value => @post.id %>
            <%= f.submit "Create" %>
          <% end %>
          </div>
  </body>
</html>
